name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout
      - name: Checkout code
        uses: actions/checkout@v3

      # Setup Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Run unit tests
      - name: Run unit tests
        run: |
          export PYTHONPATH=$PYTHONPATH:.
          pytest

      # Login to DockerHub
      - name: Login to DockerHub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u BhavnaYa --password-stdin

      # Build Docker image
      - name: Build Docker image
        run: docker build -t BhavnaYa/cats-dogs:latest .

      # Push Docker image
      - name: Push Docker image
        run: docker push BhavnaYa/cats-dogs:latest

      # Run container
      - name: Run Docker container
        run: |
          docker run -d -p 8000:8000 BhavnaYa/cats-dogs:latest
          sleep 15

      # Smoke test
      - name: Run smoke test
        run: python smoke_test.py
